@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project made for storing and modifying a simple DnD character sheet.<br /> You need to log in in order to access your sheets (if there are any), or to create new ones.</a>.</p>
</div>
